 /*
Bernice Johnson
Project 1
Visual Frameworks 12/06
*/


h1 {
    margin: 10px 10px 10px 10px;
    border-bottom-width: 2px solid #999; 
    padding: 20px;
    color: white;
    font-weight: bold;
    font-family: Lane-Upper,ariel, sans-serif;

    text-align: center; 
    background-color: transparent;
}

body {
	background: #efefef;
	 background: url(../image/vfwc.png);
	 

}

p{  
	font-family: Arial,  sans-serif;
	text-align: center;
	font-size: 10;
	color: #3c2e2b;
	background-color: white;
	padding: 8px;
	border-style: dotted;
	border color: #efefef;
	margin-left: 20px;
	margin-right: 20px;
}

h2{
	font-family: Arial, sans-serif;
	text-align:left;
	color: #3c2e2b;
	margin-left: 20px;
	

}


fieldset{
	border: solid #3c2e2b;
	border-width: .2em;
	font color: #3c2e2b;
	margin-top: 15px;
	margin-bottom: 15px;
	/*margin-left: 15px;*/
	/*margin-right: 15px;*/
	*padding:lem;
	font:80%/1 sans-serif;
	border
	


}

legend{
	font-family: Arial,  sans-serif;
	font-weight: bold;
    color: #9b1d58;
   
}

label{
	/*display: inline;*/
	float: left;  
	font-family: ariel, sans-serif;
    color: #3c2e2b; 
    width:25%; 
    margin-right:0.5em;
    padding-top:0.2em;
    text-align:right;
    font-weight: bold;
    text-indent: 6px;
    
    
    
}

input{
	display: inline;


	margin-left: 3px;
	margin-bottom: 8px;
	padding bottom: 10px;
	
}




li{
	display: block;
	font-family: Arial, sans-serif;
    color: #3c2e2b;
	text-align: left;
	padding-top:0.2em;
	margin-right:0.5em;
	
}

ul{
	font-family: Arial,  sans-serif;
	margin-bottom: 8px;
	text-align: left;
	font-weight: bold;
	padding: 10px;
	text-indent: 6px;
}

input{
	display: inline;
	

}

	


}

 input.submit{
	margin-left: 21px;

}

a{
 color:#0d8f4a;
 font-style: italic;
 margin-left: 20px;

}

