 /*
Bernice Johnson
Project 1
Visual Frameworks 12/06
*/

html{
	background-color: #d6d6cf;
	background-image:url(../image/vfwc.png);
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-position: x-% y-%/x-pos y-pos;
	

}

h1 {
    margin: 10px 10px 10px 10px;
    border-bottom-width: 2px solid #999; 
    padding: 18px;
    color: white;
    font-weight: bold;
    font-family: Lane-Upper,ariel, sans-serif;
     font: 28px "Lane-Upper", "Ariel", Verdana, sans-serif;
    text-align: center; 
    background-color: transparent;
}

body {
	background-color: transparent;
}

form{
	text-align:left
	/*color:whilte;*/
}

p{  
	font-family: Arial,  sans-serif;
	text-align: center;
	font-size: 10;
	color: #3c2e2b;
	background-color: white;
	padding: 8px;
	border-style: dotted;
	border color: #efefef;
	margin-left: 20px;
	margin-right: 20px;
}

h2{
	font-family: Arial, sans-serif;
	text-align:center;
	color: #3c2e2b;
	
	

}


fieldset{
	border: solid #3c2e2b;
	border-width: .1em;
	/*font color: #3c2e2b;*/
	margin-top: 25px;
	margin-bottom: 10px;
	/*margin-left: 10px;*/
	/*margin-right: 20px;*/
	/*padding:lem;*/
	font:80%/1 sans-serif;
	
	border color: #3c2e2b;
	/*margin: 20px; */
	background-color: #e0e0da;
}

ul.zodiac{
	display: inline;
	
}	
	 
	






legend{
	font-family: Arial,  sans-serif;
	font-weight: bold;
    color: #9b1d58;
    font-size: 17px
   
}

label{
	display: block;
	/*float: left;  */
	font-family: ariel, sans-serif;
    color: #3c2e2b; 
    /*text-align:left;
    font-weight: bold;*/
    /*width:75px; */
    margin-right:0.5em;
    padding-top:0.2em;
    /*text-align:right; */
    font-weight: bold;
    
}
/*ul{
	font-family: Arial,  sans-serif;
	margin-bottom: 1px;
	text-align: left;
	font-weight: bold;
	
	}*/


li{
	display: block;
	font-family: Arial, sans-serif;
    color: #3c2e2b;
	/*text-align: center*/
	padding-top:0.2em;
	
}
input{
	display:block;
	/*text-align: justify;*/
	
}

ul.checkbox{
	margin-right: 20px;
	
}
/*ulinput {
	display: block;



	margin-left: 3px;
	margin-bottom: 8px;
	padding bottom: 10px;
	
}
/*ulul.class{
	display: block;

}*/




 input#submit{
	margin-left: 2px;
}

nav{
	
	text-align: center;
}


a{
 color:#0d8f4a;
 font-style: italic;
 /*margin-left: 21px; */
 text-align: center;
 display: block;

}

